<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../static/style/styles.css">
	<title></title>
</head>
<body>
<div id="top"></div>

<div id="header"><a href='#'><h1>WanQing's BLOG</h1></a></div>
<div id="line"></div>
<div id="main">

<div id="content">
<div id="article">
<dl>
<dt><a href="#">人生在于运行</a></dt>
<dd> 这两天稍微有点折腾。先是把学校的所有行李都打包带了回来。带回来之后直接坐车回了老家。在家中呆了不到一两个小时，结果老爸肚子不舒服，又从老家急忙赶回了保定。
走之前电脑被室友摔了一小下，在家里这几天都没敢再打开怕挂掉。等直接工作的时候再打开吧。
昨天打开家里台式，ADSL不能上网，今天上午又给修了修，才好不容易连上了网。
vps不给力。今天打开blog说什么 time-out,用 putty登陆了一下，说can not allocate memory,内存太小？不知道。重启了一下又重新搞了下fastcgi没问题了。
下次写到脚本中让它开机的时候直接启动？好。试试。
明天去北京。祝愿顺利。 </dd>
<dd id="comment">发布日期：20110709 12：12 分类: XXX <a href="" >评论</a></dd>

<dt><a href="#">人生在于运行</a></dt>
<dd> 这两天稍微有点折腾。先是把学校的所有行李都打包带了回来。带回来之后直接坐车回了老家。在家中呆了不到一两个小时，结果老爸肚子不舒服，又从老家急忙赶回了保定。
走之前电脑被室友摔了一小下，在家里这几天都没敢再打开怕挂掉。等直接工作的时候再打开吧。
昨天打开家里台式，ADSL不能上网，今天上午又给修了修，才好不容易连上了网。
vps不给力。今天打开blog说什么 time-out,用 putty登陆了一下，说can not allocate memory,内存太小？不知道。重启了一下又重新搞了下fastcgi没问题了。
下次写到脚本中让它开机的时候直接启动？好。试试。
明天去北京。祝愿顺利。 </dd>
<dd id="comment">发布日期：20110709 12：12 分类: XXX <a href="" >评论</a></dd>

<dt><a href="#">人生在于运行</a></dt>
<dd> 这两天稍微有点折腾。先是把学校的所有行李都打包带了回来。带回来之后直接坐车回了老家。在家中呆了不到一两个小时，结果老爸肚子不舒服，又从老家急忙赶回了保定。
走之前电脑被室友摔了一小下，在家里这几天都没敢再打开怕挂掉。等直接工作的时候再打开吧。
昨天打开家里台式，ADSL不能上网，今天上午又给修了修，才好不容易连上了网。
vps不给力。今天打开blog说什么 time-out,用 putty登陆了一下，说can not allocate memory,内存太小？不知道。重启了一下又重新搞了下fastcgi没问题了。
下次写到脚本中让它开机的时候直接启动？好。试试。
明天去北京。祝愿顺利。 </dd>
<dd id="comment">发布日期：20110709 12：12 分类: XXX <a href="" >评论</a></dd>

<dt><a href="#">人生在于运行</a></dt>
<dd> 这两天稍微有点折腾。先是把学校的所有行李都打包带了回来。带回来之后直接坐车回了老家。在家中呆了不到一两个小时，结果老爸肚子不舒服，又从老家急忙赶回了保定。
走之前电脑被室友摔了一小下，在家里这几天都没敢再打开怕挂掉。等直接工作的时候再打开吧。
昨天打开家里台式，ADSL不能上网，今天上午又给修了修，才好不容易连上了网。
vps不给力。今天打开blog说什么 time-out,用 putty登陆了一下，说can not allocate memory,内存太小？不知道。重启了一下又重新搞了下fastcgi没问题了。
下次写到脚本中让它开机的时候直接启动？好。试试。
明天去北京。祝愿顺利。 </dd>
<dd id="comment">发布日期：20110709 12：12 分类: XXX <a href="" >评论</a></dd>

<dt><a href="#">人生在于运行</a></dt>
<dd> 这两天稍微有点折腾。先是把学校的所有行李都打包带了回来。带回来之后直接坐车回了老家。在家中呆了不到一两个小时，结果老爸肚子不舒服，又从老家急忙赶回了保定。
走之前电脑被室友摔了一小下，在家里这几天都没敢再打开怕挂掉。等直接工作的时候再打开吧。
昨天打开家里台式，ADSL不能上网，今天上午又给修了修，才好不容易连上了网。
vps不给力。今天打开blog说什么 time-out,用 putty登陆了一下，说can not allocate memory,内存太小？不知道。重启了一下又重新搞了下fastcgi没问题了。
下次写到脚本中让它开机的时候直接启动？好。试试。
明天去北京。祝愿顺利。 </dd>
<dd id="comment">发布日期：20110709 12：12 分类: XXX <a href="" >评论</a></dd>

<dt><a href="#">人生在于运行</a></dt>
<dd> 这两天稍微有点折腾。先是把学校的所有行李都打包带了回来。带回来之后直接坐车回了老家。在家中呆了不到一两个小时，结果老爸肚子不舒服，又从老家急忙赶回了保定。
走之前电脑被室友摔了一小下，在家里这几天都没敢再打开怕挂掉。等直接工作的时候再打开吧。
昨天打开家里台式，ADSL不能上网，今天上午又给修了修，才好不容易连上了网。
vps不给力。今天打开blog说什么 time-out,用 putty登陆了一下，说can not allocate memory,内存太小？不知道。重启了一下又重新搞了下fastcgi没问题了。
下次写到脚本中让它开机的时候直接启动？好。试试。
明天去北京。祝愿顺利。 </dd>
<dd id="comment">发布日期：20110709 12：12 分类: XXX <a href="" >评论</a></dd>


</dl>
</div> <!-- end article -->
</div> <!-- end content -->

<div id="sidebar">

<div id="list">

<h3>关于</h3>
<p id="about">
这是一篇个人博客，欢迎大家的到来。本Blog程序是使用<a href="http://flask.pocoo.org">Flask</a>开发而成，只支持单用户使用。
</p>
<h3>最新文章</h3>
<ul class="wz">
<li><a href="#">利用花生壳域名实现SSH访问ADSL连接下的Ubuntu主机</a></li>
<li>为什么我不能坚持写个人博客</li>
<li>Firefox假死之简单处理</li>
<li>PythonNote-2：文本处理学习记录</li>
<li>EverNote极强的免费笔记管理软件及Chrome插件</li>
<li>Flask个人玩具</li>
<li>关于如何学习Python的问题讨论记录</li>
<li>Ubuntu系统之间文件进行网络共享</li>
<li>任务追踪（Flask版）--简明TODO</li>
<li>tornado Note3：一个日志记录工具</li>
</ul>

<h3>最新文章</h3>
<ul class="wz">
<li>利用花生壳域名实现SSH访问ADSL连接下的Ubuntu主机</li>
<li>为什么我不能坚持写个人博客</li>
<li>Firefox假死之简单处理</li>
<li>PythonNote-2：文本处理学习记录</li>
<li>EverNote极强的免费笔记管理软件及Chrome插件</li>
<li>Flask个人玩具</li>
<li>关于如何学习Python的问题讨论记录</li>
<li>Ubuntu系统之间文件进行网络共享</li>
<li>任务追踪（Flask版）--简明TODO</li>
<li>tornado Note3：一个日志记录工具</li>
</ul>

<h3>管理及订阅</h3>
<ul class="wz">
<li><a href="">登录</a></li>
<li><a href="/addpost">写文章</a></li>
<li><a href="">RSS</a></li>
</ul>

</div> <!-- end list -->

</div> <!-- end sidebar -->
</div> <!-- end main -->

<div id="footer">
<p>Copyright (c) 2011, wwq0327. Powered by <a href="http://flask.pocoo.org">Flask</a></p>
</div>
</body>
</html>